@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<cite>
    "I have two kinds of problems, the urgent and the important.
    The urgent are not important, and the important are never urgent.""
    <p>President Dwight D. Eisenhower</p>
</cite>
